<p id="notice"><%= notice %></p>

<p>
  <strong>Acronym:</strong>
  <%= @acronym.acronym %>
</p>

<p>
  <strong>Context:</strong>
  <%= @acronym.context %>
</p>

<p>
  <strong>Bracketed:</strong>
  <%= @acronym.bracketed %>
</p>

<p>
  <strong>Bracketed on first use:</strong>
  <%= @acronym.bracketed_on_first_use %>
</p>

<%= link_to 'Edit', edit_acronym_path(@acronym) %> |
<%= link_to 'Back', acronyms_path %>
