%tr{ id: definition.css_id }
  %td= definition.dictionary
  %td= definition.initialism
  %td= definition.meaning
  %td= link_to 'Show', definition
  %td= link_to 'Edit', edit_definition_path(definition)
  %td= link_to 'Destroy', definition, method: :delete #, data: { confirm: 'Are you sure?' }
