= form_for(@definition) do |f|
  - if @definition.errors.any?
    #error_explanation
      %h2
        = pluralize(@definition.errors.count, "error")
        prohibited this definition from being saved:
      %ul
        - @definition.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :dictionary_id
    %br/
    = f.collection_select(:dictionary_id, Dictionary.order(:name), :id, :name, include_blank: true)
  .field
    = f.label :initialism
    %br/
    = f.text_field :initialism, size: 50
  .field
    = f.label :meaning
    %br/
    = f.text_field :meaning, size: 50
  .actions
    = f.submit
