<%= form_for(@definition) do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dictionary_id %><br>
    <%= f.text_field :dictionary_id %>
  </div>
  <div class="field">
    <%= f.label :initialism %><br>
    <%= f.text_field :initialism %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
