%h1 Listing Definitions
%table
  %thead
    %tr
      %th Dictionary
      %th Initialism
      %th Meaning
      %th{:colspan => "3"}
  %tbody
    - @definitions.order(:initialism).each do |definition|
      %tr
        %td= definition.dictionary
        %td= definition.initialism
        %td= definition.meaning
        %td= link_to 'Show', definition
        %td= link_to 'Edit', edit_definition_path(definition)
        %td= link_to 'Destroy', definition, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Definition', new_definition_path
