<p id="notice"><%= notice %></p>

<p>
  <strong>Dictionary:</strong>
  <%= @definition.dictionary %>
</p>

<p>
  <strong>Initialism:</strong>
  <%= @definition.initialism %>
</p>

<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
