%p
  %strong Dictionary:
  = @definition.dictionary
%p
  %strong Initialism:
  = @definition.initialism
%p
  %strong Meaning:
  = @definition.meaning
= link_to 'Edit', edit_definition_path(@definition)
|
= link_to 'Back', definitions_path
