%h1= "Dictionary: #{@dictionary.name}"
%p
  = link_to 'Quick add', edit_dictionary_path(@dictionary)
  |
  = link_to 'Individual add', new_definition_path({ dictionary_id: @dictionary.id }) #add_definition_dictionary_path(@dictionary)
  |
  = link_to 'Merge duplicates', merge_duplicates_dictionary_path(@dictionary)
  |
  = link_to 'Back to all dictionaries', dictionaries_path
%table{ width: '100%' }
  %thead
    %tr
      %th Dictionary
      %th Initialism
      %th Meaning
      %th{:colspan => "5"} Actions
  %tbody
    - @dictionary.definitions.sort.each do |definition|
      = render definition
