= form_for(@document, html: {multipart: true}) do |f|
  - if @document.errors.any?
    #error_explanation
      %h2
        = pluralize(@document.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message
  .actions
    %p
      = f.file_field :file
    %p
      = f.label :allow_mixedcase
      = f.check_box :allow_mixedcase
      = f.label :allow_plurals
      = f.check_box :allow_plurals
      = f.label :allow_hyphens
      = f.check_box :allow_hyphens
      = f.label :allow_numbers
      = f.check_box :allow_numbers
      = f.label :allow_short, "Allow 2-letter acronyms"
      = f.check_box :allow_short
    = f.submit value: 'Upload'
