%h1 Listing Documents
%table{width: '100%'}
  %thead
    %tr
      %th Filename
      %th Date
      %th{:colspan => "3"}
  %tbody
    - @documents.each do |document|
      %tr
        %td= File.basename(document.file.to_s)
        %td= document.updated_at.strftime "%d %b %Y"
        %td= link_to 'Show', document
        %td= link_to 'Edit', edit_document_path(document)
        %td= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' }
%br/
