%center
  
  - md = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new({hard_wrap: true}))
  
  %h1 Acronym list to paste
  =# Don't place comments in the textarea -- it screws up the whitespace
  %textarea{rows: @document.acronym_count, cols: 60}
    - @document.allowed_acronyms.sort.each do |ac|
      = find_and_preserve "#{ac.initialism}\t#{ac.meaning_with_initial_capital}&#x000A;"

  %h1 Options
  = form_for(@document) do |f|
    = render partial: 'refresh_options', locals: {f: f}
    %p= f.submit "Refresh"
  
  %h1 Context on each acronym
  %table
    %tbody
      - @document.allowed_acronyms.sort.each do |ac|
        %tr
          - style = ac.has_meaning? ? 'strikethrough' : ''
          =# TODO: split before, acronym, after into 3 columns so things line up more nicely
          %td{ class: "#{style} left" }= ac.context_before.html_safe
          %td{ class: "#{style} middle" }= ac.markup
          %td{ class: "#{style} right" }= ac.context_after.html_safe
  
  = link_to 'Upload another document', new_document_path

  =# This throws a really obscure error
  =# Completed 401 Unauthorized in 24ms (ActiveRecord: 0.5ms)
  =# link_to 'Download the original document', @document.file
