%center
  
  - md = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new({hard_wrap: true}))
  
  %h1 Acronym list to paste
  =# Don't place comments in the textarea -- it screws up the whitespace
  %textarea{rows: @document.acronym_count, cols: 60}
    - @document.allowed_acronyms.sort.each do |ac|
      = find_and_preserve "#{ac.initialism}\t#{ac.meaning}&#x000A;"

  %h1 Options
  = form_for(@document) do |f|
    %p
      = render partial: 'options', locals: {f: f}
      = f.submit "Refresh"
  
  %h1 Context on each acronym
  %table
    %thead
      %tr
        %th Acronym
        %th Context
    %tbody
      - @document.allowed_acronyms.sort.each do |ac|
        %tr
          %td= ac.initialism
          - if ac.meaning?
            %td#strikethrough= ac.context( { css: true, search_link: true } ).html_safe
          - else
            %td= ac.context( { css: true, search_link: true } ).html_safe
  
  / %h1 Full text of document
  / # =# HTML is probably NOT safe here
  / # = md.render(File.readlines(@document.file.versions[:text].file.file) { |l| l }.join).html_safe
  
  =# link_to 'Edit', edit_document_path(@document)
  =# link_to 'Back', documents_path
  
  = link_to 'Upload another document', new_document_path