%p#notice= notice
- md = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new({hard_wrap: true}))
=# HTML is probably NOT safe here
= md.render(File.readlines(@document.file.versions[:text].file.file) { |l| l }.join).html_safe
%table
  %thead
    %tr
      %th Acronym
      %th Context
  %tbody
    - @document.acronyms.each do |ac|
      %tr
        %td= ac.acronym
        %td= ac.context

= link_to 'Edit', edit_document_path(@document)
|
= link_to 'Back', documents_path
